<!DOCTYPE html>
<html>
<head>
  <title>GeonamesDump</title>
  <%= stylesheet_link_tag    "geonames_dump/application", media: "all" %>
  <%= javascript_include_tag "geonames_dump/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
